.trigger-table
{
    position: relative;
    margin-top: 25px;
}

.filter-trigger
{
    position: absolute;
    top: -20px;
    left: 0;
}

.col-button
{
    left: 133px;
}

/*-- select mode --*/
.trigger-table tr
{
    cursor: pointer;
}

tr.selected td
{
    background-color: #ffbf52;
}

/* .trigger-table tr:hover
{
    background-color:
} */

/*-- filter active --*/
.trigger-table.filter-active tbody>tr
{
    display: none;
}

.trigger-table.filter-active tbody>tr.selected
{
    display: table-row;
    cursor: default;
}

.trigger-table.filter-active tbody>tr.selected td
{
    background-color: #d8f3ff;
}