.trigger-table
{
    position: relative;
    margin-top: 25px;
}

.filter-trigger
{
    position: absolute;
    top: -20px;
    left: 0;
}

.filter-trigger a
{
    margin: 5px;
}

/*-- select mode --*/
.trigger-table tr
{
    cursor: pointer;
}

tr.selected td
{
    background-color: #ffbf52;
}

/* .trigger-table tr:hover
{
    background-color:
} */

/*-- filter active --*/
.trigger-table.filter-active tbody>tr
{
    display: none;
}

.trigger-table.filter-active tbody>tr.selected
{
    display: table-row;
    cursor: default;
}

.trigger-table.filter-active tbody>tr.selected td
{
    background-color: #d8f3ff;
}

/*-- col select --*/
.trigger-table tbody tr td.col-selected
{
    background-color: #dab2ed;
}

.trigger-table tbody tr.selected td.col-selected
{
    background-color: #ff8a9f;
}

.trigger-table.filter-active tbody tr td.col-selected
{
    background-color: #e0afff;
}